@{
    ViewBag.Title = "Index";
}
<script src="~/js/Genealogy.js"></script>

<style>
    .item {
        background-color: lightgrey;
        width: 90px;
        height: 150px;
        border: 1px solid green;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: 20px;
        float: left;
    }
    .itemuserimg {
        float: left;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 75px;
        float: left;
    }

    .controlsimg {
        float: left;
        width: 20px;
        margin: 10px 10px 12px 1px;

    }

    .controlsimglft {
        float: left;
        width: 20px;
        margin: 10px 10px 10px 10px;

    }
    .labelGUser {
        float: left;
        margin: 10px 10px 1px 1px;
        font-size: 10px;
    }
</style>

<div class="container">
    <div id="GenealogyID">
        <div class="row">
            <div class="col-12">
                <div id="h1" class="item">
                    <img class="itemuserimg" src="~/images/UserBlue.png" />
                    <div class="labelGUser">Lawrence09876</div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="h2" class="item">
                    <img class="itemuserimg" src="~/images/UserRed.png" />
                    <div class="labelGUser">Lawrence09817</div>
                </div>
                <div id="h3" class="item">
                    <img class="itemuserimg" src="~/images/UserBlue.png" />
                    <div class="labelGUser">Lawrence09877</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="item">
                    <img class="itemuserimg" src="~/images/UserGray.png" />
                    <img class="controlsimglft" src="~/images/plusgreen.png" />
                    <img class="controlsimg" src="~/images/UserPlus.png" />
                </div>
                <div class="item">
                    <img class="itemuserimg" src="~/images/UserGray.png" />
                    <img class="controlsimglft" src="~/images/plusgreen.png" />
                    <img class="controlsimg" src="~/images/UserPlus.png" />
                </div>
                <div class="item">
                    <img class="itemuserimg" src="~/images/UserGray.png" />
                    <img class="controlsimglft" src="~/images/plusgreen.png" />
                    <img class="controlsimg" src="~/images/UserPlus.png" />
                </div>
                <div class="item">
                    <img class="itemuserimg" src="~/images/UserGray.png" />
                    <img class="controlsimglft" src="~/images/plusgreen.png" />
                    <img class="controlsimg" src="~/images/UserPlus.png" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="item">
                    <img class="itemuserimg" src="~/images/UserGray.png" />
                    <img class="controlsimglft" src="~/images/plusgreen.png" />
                    <img class="controlsimg" src="~/images/UserPlus.png" />
                </div>
                <div class="item">
                    <img class="itemuserimg" src="~/images/UserGray.png" />
                    <img class="controlsimglft" src="~/images/plusgreen.png" />
                    <img class="controlsimg" src="~/images/UserPlus.png" />
                </div>
                <div class="item">
                    <img class="itemuserimg" src="~/images/UserGray.png" />
                    <img class="controlsimglft" src="~/images/plusgreen.png" />
                    <img class="controlsimg" src="~/images/UserPlus.png" />
                </div>
                <div class="item">
                    <img class="itemuserimg" src="~/images/UserGray.png" />
                    <img class="controlsimglft" src="~/images/plusgreen.png" />
                    <img class="controlsimg" src="~/images/UserPlus.png" />
                </div>
                <div class="item">
                    <img class="itemuserimg" src="~/images/UserGray.png" />
                    <img class="controlsimglft" src="~/images/plusgreen.png" />
                    <img class="controlsimg" src="~/images/UserPlus.png" />
                </div>
                <div class="item">
                    <img class="itemuserimg" src="~/images/UserGray.png" />
                    <img class="controlsimglft" src="~/images/plusgreen.png" />
                    <img class="controlsimg" src="~/images/UserPlus.png" />
                </div>
                <div class="item">
                    <img class="itemuserimg" src="~/images/UserGray.png" />
                    <img class="controlsimglft" src="~/images/plusgreen.png" />
                    <img class="controlsimg" src="~/images/UserPlus.png" />
                </div>
                <div class="item">
                    <img class="itemuserimg" src="~/images/UserGray.png" />
                    <img class="controlsimglft" src="~/images/plusgreen.png" />
                    <img class="controlsimg" src="~/images/UserPlus.png" />
                </div>
            </div>
        </div>

    </div>
</div>
