@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script src="~/js/Genealogy.js"></script>
    <link href="~/css/Genealogy.css" rel="stylesheet" />
}



<div class="container">
    <div class="post-header">
        <h1>Genealogy</h1>
    </div>
    <!--
    <div class="row">
        <div class="tree">
            <ul id="historyTree"><li><a href="#" onclick="regenerate(6);"><img class="img-responsive" src="./images/if_User_Generic_1_1218733.png"><label>Arthur6</label></a>
                <li><a href="#" onclick="regenerate(6);"><img class="img-responsive" src="./images/if_User_Generic_1_1218733.png"><label>Arthur6</label></a>
                <li><a href="#" onclick="regenerate(6);"><img class="img-responsive" src="./images/if_User_Generic_1_1218733.png"><label>Arthur6</label></a></ul>
        </div>
    </div>
        -->
    <div class="row">
        <div class="tree">
            <ul id="treeChart">
            </ul>
        </div>
    </div>
</div> <!-- /container -->


<div class="modal fade" id="Assign-downline" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                <h4 class="modal-title">Membership</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="contact_form">
                    <fieldset>
                        <div id="new_section">
                            <div>
                                <div class="col-md-12 center-block">
                                    <div class="alert alert-info" role="alert">
                                        <p>Inputs with (<span class="required"></span>) is a required fields.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label required">First Name</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input name="first_name" placeholder="First Name" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label required">Last Name</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input name="last_name" placeholder="Last Name" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label required">Gender</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                        <select class="form-control">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label required">Birth date</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        <input name="Birth_date" placeholder="Birth date" class="form-control datepicker" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label required">City/Province</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
                                        <input name="City_Province" placeholder="City/Province" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label required">Street</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
                                        <input name="Street" placeholder="Street" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label required">User Name</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="User_name" placeholder="User Name" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label required">Password</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-option-horizontal"></i></span>
                                    <input name="Password" placeholder="Password" class="form-control" type="Password">
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label required">Confirm Password</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-option-horizontal"></i></span>
                                    <input name="confirm_password" placeholder="Confirm Password" class="form-control" type="password">
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label required">Email Address</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input name="email" placeholder="Email Address" class="form-control" type="email">
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label required">Contact No.</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input name="contact_no" placeholder="(639)" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label required">Upload Picture</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-folder-close"></i></span>
                                    <input name="Upload_Picture" placeholder="Browse Image" class="form-control" type="file">
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label required">Referer</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input name="Referer" placeholder="Referer" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label required">Direct Upline ID</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input name="Direct_Upline_ID" placeholder="Direct Upline ID" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label required">Group</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-compressed"></i></span>
                                    <input name="Group" placeholder="Group" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-primary pull-right">
                                    SUBMIT <span class="glyphicon glyphicon-send"></span>
                                </button>
                                <a href="#" id="cancel" class="btn btn-default pull-right">Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->