@{
    ViewBag.Title = "Index";
}
<script src="~/js/Genealogy.js"></script>

<link href="~/css/Genealogy.css" rel="stylesheet" />

<div class="container">
    <div id="GenealogyID">
        <fieldset>
            <div class="parent">
                <a href="https://www.facebook.com/arthurbryan.santos?fref=search">


                </a><div class="boy">
                    <a href="https://www.facebook.com/arthurbryan.santos?fref=search">

                        <div class="boy1">
                            <img src="~/images/UserBlue.png" width="70" height="70">
                            <figcaption text-align="center">  Loyd0001 </figcaption>
                        </div>
                    </a>

                    <div class="boy2">

                        <img src="~/images/UserBlue.png" width="70" height="70">
                        <figcaption text-align="center">  Loyd0002 </figcaption>

                    </div>

                    <div class="boy3">

                        <img src="~/images/UserBlue.png" width="70" height="70">
                        <figcaption text-align="center">  Loyd0003 </figcaption>
                    </div>


                </div>


                <div class="girl">

                    <div class="girl1">
                        <img src="~/images/UserRed.png" width="70" height="70">
                        <figcaption text-align="center">  Loyd1000 </figcaption>

                    </div>


                    <div class="girl2">

                        <img src="~/images/UserBlue.png" width="70" height="70">
                        <figcaption text-align="center">  Loyd2000 </figcaption>

                    </div>

                    <div class="girl3">

                        <img src="~/images/UserGray.png" width="70" height="70">
                        <figcaption> ( Empty1 ) </figcaption>
                        <div id="icon">
                            <a href=" http://definitelyfilipino.com/blog/wp-content/uploads/2013/03/uglyman.jpg">
                            <img src="~/images/plusgreen.png" width="25" height="25"> </a>

                            <a href="http://1.bp.blogspot.com/-mWtO9uPlHC8/Tv6hOWQVDhI/AAAAAAAAAIY/tgZA4Yk4Nok/s1600/super+fangit.jpg">
                                <img src="~/images/UserPlus.png" width="25" height="25">
                            </a>
                        </div>
                        <a href="http://1.bp.blogspot.com/-mWtO9uPlHC8/Tv6hOWQVDhI/AAAAAAAAAIY/tgZA4Yk4Nok/s1600/super+fangit.jpg">

                        </a>
                    </div><a href="http://1.bp.blogspot.com/-mWtO9uPlHC8/Tv6hOWQVDhI/AAAAAAAAAIY/tgZA4Yk4Nok/s1600/super+fangit.jpg">

                        <div class="girl4">

                            <img src="~/images/UserBlue.png" width="70" height="70">
                            <figcaption text-align="center">  Loyd4000 </figcaption>

                        </div>



                    </a>
                </div><a href="http://1.bp.blogspot.com/-mWtO9uPlHC8/Tv6hOWQVDhI/AAAAAAAAAIY/tgZA4Yk4Nok/s1600/super+fangit.jpg">

                </a>
            </div>
            
            

        </fieldset>

    </div>
</div>
