
<!--
	<footer>
	<div class="container">
		<div class="row">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>&copy; Vida Power Essensials - All Right Reserved</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</footer>

	-->