    <header>
        <div class="top">
                <div class="container vidaHeader">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="topleft-info">
                                <li> <img src="images/vida-logo.png" alt=""  height="60" /></li>
                            </ul>
                            <ul>
                                <address>
                                    <strong>Vida Power Essentials</strong><br>
                                    Door 4 LDL Building Lacson Bo.Obrero St., Davao City<br>
                                </address>
                            </ul>
                        </div>
                        <div class="col-md-6">
                        <div id="sb-search" class="sb-search">
                             <a href="/home/Signout" title="Logout"> Logout</a>
                        </div>
                        </div>
                    </div>
                </div>
        </div>  
        
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h3 class="navbar-brand"> @ViewBag.Title </h3>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="/useraccount" >My Account </a> 
                        </li>
                        @*<li><a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Purchase <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/purchase">Order</a></li>
                            </ul></li>
                        <li><a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Members <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Search</a></li>
                                <li><a href="/genealogy">Genealogy</a></li>
                            </ul></li>*@
						<li><a href="/purchase">Register</a></li>
						<li><a href="/genealogy">Genealogy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>