@{
    ViewBag.Title = "MY ACCOUNT";
}

@section Scripts {
    <script type="text/javascript" src="~/js/useraccount.js"></script>
}

<section id="content">
<div class="container" id="profile">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>[fullname]</td>
                                    </tr>
                                    <tr>
                                        <td>Address:</td>
                                        <td>[address]</td>
                                    </tr>
                                    <tr>
                                        <td>Contact Number:</td>
                                        <td>[contact]</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:[email]">[email]</a></td>
                                    </tr>
                                    <tr>
                                        <td>Account ID:</td>
                                        <td>[AccountID]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Pairing Bonus:</td>
                        <td><span>[pairingbonus]</span></td>
                    </tr>
                    <tr>
                        <td>Referrals:</td>
                        <td><span>[referrals]</span></td>
                    </tr>
                    <tr>
                        <td>Withdrawals:</td>
                        <td><span>[withdrawals]</span></td>
                    </tr>
                    <tr>
                        <td>Balance:</td>
                        <td><span>[balance]</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</section>