@{
    ViewBag.Title = "MY ACCOUNT";
}

@section Scripts {
    <script type="text/javascript" src="~/js/useraccount.js"></script>
}

<section id="content">
<div class="container" id="profile">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>[fullname]</td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>[gender]</td>
                                    </tr>
                                    <tr>
                                        <td>Address:</td>
                                        <td>[address]</td>
                                    </tr>
                                    <tr>
                                        <td>Contact Number:</td>
                                        <td>[contact]</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:[email]">[email]</a></td>
                                    </tr>
                                    <tr>
                                        <td>Upline Name:</td>
                                        <td>[upline]</td>
                                    </tr>
                                    <tr>
                                        <td>Referrer:</td>
                                        <td>[refrerrer]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Total Incentives:</td>
                        <td><span>[incentives]</span></td>
                    </tr>
                    <tr>
                        <td>Total Withdrawal:</td>
                        <td><span>[withdrawal]</span></td>
                    </tr>
                    <tr>
                        <td>Total Recievable:</td>
                        <td><span>[recievable]</span></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><span class="label label-default">[status]</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</section>