@{
    ViewBag.Title = "PURCHASE ORDER";
}

@section Scripts {
    <script src="~/js/purchase.js"></script>
    <link href="~/css/purchase.css" rel="stylesheet" />
    <script src="~/js/bootstrap-datepicker.min.js"></script>
}


<section id="content">
	<div class="container">
		<div class="row" id="searchSection">
		<div class="alert alert-success" id="succesMsg" style="display:none">
                            <strong>Success</strong>, new record saved.
    </div>
			<div class="col-md-4">
			<h4>Search Member</h4>
				<aside class="left-sidebar">
				<div class="widget">
					<form role="form" id="frmSearch">
					  <div class="form-group">
						<input type="text" class="form-control" id="searchName" placeholder="Enter name..">
						<input class="sb-search-submit" type="submit" value="">
								<span id="searchButton"class="sb-icon-search" title="Click to start searching"></span>
					  </div>
					</form>
				</div>
				</aside>
			</div>
		</div>


		<div class="row" id="dvResult" style="display:none">
		<h4>Result</h4>
			<table class="table" id="tblResult">
		    <thead>
		      <tr>
		        <th>Fullname</th>
		        <th>Phone Number</th>
		        <th></th>
		        <th><a href="#" id="btnAdd" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add New</a></th>
		      </tr>
		    </thead>
		    <tbody>
		    </tbody>
		  </table>
		  </div>


<div class="row" id="dvNew" style="display:none">
<div class="stepwizard col-md-offset-2">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" id="firstStep" type="button" class="btn btn-primary btn-circle">1</a>
        <p>Personal Info</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
        <p>Delivery Address</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
        <p>Contact Info</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
        <p>Package</p>
      </div>
    </div>
  </div>
    
  <div class="container">
		<div class="row">
			<div class="col-lg-12">

				<div class="blankline">
				</div>
			</div>
		</div>
		</div>
  
  <form role="form" id="contact_form" method="post">

    <div class="row setup-content" id="step-1">
      <div class="col-xs-8 col-md-offset-2">
        <div class="col-md-12">
          <h3> Personal Info</h3>
          <div class="form-group">
            <label class="control-label">First Name</label>
            <input name="first_name" id="first_name" placeholder="First Name" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label class="control-label">Last Name</label>
           <input name="last_name" placeholder="Last Name" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label class="control-label">Birthdate</label>
            <input name="Birth_date" placeholder="Birth date" class="form-control datepicker" type="text">
          </div>
           <div class="btn-group pull-right">
          <button type="button" class="btn btn-warning">Cancel</button>
          <button class="btn btn-primary nextBtn btn-md pull-right" type="button" >Next</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row setup-content" id="step-2">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3> Delivery Address</h3>
          <div class="form-group">
            <label class="control-label">City/Province</label>
            <input name="City_Province" placeholder="City/Province" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label class="control-label">Street</label>
            <input name="Street" placeholder="Street" class="form-control" type="text">
          </div>
          <button class="btn btn-primary nextBtn btn-md pull-right" type="button" >Next</button>
        </div>
      </div>
    </div>

    <div class="row setup-content" id="step-3">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3> Contact Info</h3>
          <div class="form-group">
            <label class="control-label">Email</label>
            <input name="EmailAddress" placeholder="Email Address" class="form-control" type="email">
          </div>
          <div class="form-group">
            <label class="control-label">Contact Number</label>
            <input name="Contact_No" placeholder="(639)" class="form-control" type="text">
          </div>
          <button class="btn btn-primary nextBtn btn-md pull-right" type="button" >Next</button>
        </div>
      </div>
    </div>

    <div class="row setup-content" id="step-4">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
            <div class="alert alert-danger" id="errorMsg" style="display:none">
                            <strong>Sorry</strong>, something is not right.
    </div>
          <h3> Package</h3>
          <div class="form-group">
            <label class="control-label">Package Type</label>
            <select name="PackageType" class="form-control">
                                    <option value="A">Elite</option>
                                    <option value="B">Economy</option>
                                </select>
          </div>

          <div class="btn-group pull-right"> <button type="button" class="btn btn-warning">Cancel</button><button type="button" id="btnSubmitReg" class="btn btn-primary">Submit</button> </div>
        </div>
      </div>
    </div>
  </form>	

  </div>
</section>