@{
    ViewBag.Title = "Home";
}

<!-- end header -->
    <section id="featured" class="bg">
    <!-- start slider -->

            
    <!-- start slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
    <!-- Slider -->
        <div id="main-slider" class="main-slider flexslider">
            <ul class="slides">
              <li>
                <img src="~/images/slider/PowerDrops.png" alt="" />
                <div class="flex-caption">
                    <h3>Power Drops</h3> 
                    <p>Marungay, Honey and Menthol.</p> 
                    <a href="#" class="btn btn-theme hidden">Learn More</a>
                </div>
              </li>
                <li>
                    <img src="~/images/slider/PowerRub.png" alt="" />
                    <div class="flex-caption">
                        <h3>Power Rub</h3> 
                        <p>Green Apple and Tumeric</p> 
                        <a href="#" class="btn btn-theme hidden">Learn More</a>
                    </div>
                </li>
                <li>
                    <img src="~/images/slider/PowerOils.png" alt="" />
                    <div class="flex-caption">
                        <h3>Power Oil</h3>
                        <p>Aromathic, Tumeric and Power Scent</p>
                        <a href="#" class="btn btn-theme hidden">Learn More</a>
                    </div>
                </li>
            </ul>
        </div>
    <!-- end slider -->
            </div>
        </div>
    </div>  


    </section>


    <section class="callaction">
    <div class="container">
        <div class="row">
                            <div class="col-lg-8">
                                <div class="cta-text">
                                    <h2>Be a <span>member</span> and enjoy the benifits</h2>
                                    <p> Discounted upto 40 percent for all members plus other incentives.</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="cta-btn">
                                    <a href="#" class="btn btn-theme btn-lg hidden">Grab it now <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>  
        </div>
    </div>
    </section>


    <!-- divider -->
        <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        </div>
        <!-- end divider -->



        <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h4>About our company</h4>
                        <p><strong>VIDA Enterprise Corporation</strong></p>
                        <p>
                        Our company is a distributor of the VIDA products.
                        </p>
                        <p>
                        Our Goal is to provide a source of income for all of our members, and provide good health benifit to all consumer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
  <!-- divider -->
        <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        </div>
        <!-- end divider -->


<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <h4>Power Drops (Marunggay)</h4>
                        <img src="~/images/Power_Drops.gif" alt="" class="img-responsive pull-left" />
                        <br/>
                        <p>Our Marunggay Power Drops is based on All Natural Freshly picked Malunggay. We added peppermint leaves for cooling effect, and natural honey for extra taste and healing properties.
                        </p>
                        <br/>
                        <h4>Directions of Use:</h4>
                        <ol>
                            <li>Can be taken Orally or Used externally.</li>
                            <li>If used orally, we recommend taking it 2x daily to about half a teaspoon dosage or as desired. Absolutely NO Overdose.</li>
                            <li>If used externally, apply needed amount on affected area for treatment.</li>
                        </ol>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <h4>Benefits:</h4>
                        <ul>
                            <li>Perfect remedy for cough, fever, and even asthma attacks.</li>
                            <li>Strengthens Immune System and used to boost body stamina and energy.</li>
                            <li>Can help restore skin condition, control blood pressure, relieve headaches and migraines.</li>
                            <li>Has 48 Antio-Oxidants, thus, helps fight cancer.</li>
                            <li>Helps normalize blood sugar level therefore preventing diabetes.</li>
                            <li>Lowers Blood Pressure and Blood Cholesterol Level.</li>
                            <li>Improves Digestion.</li>
                            <li>Can heal Ulcers.</li>
                            <li>If used as facial moisturizer, it can minimize pores which gives your face a finer look. Also treats pimples.</li>
                            <li>Gives you a Good Night Sleep.</li>
                            <li>Packed with higher Vitamin and Mineral powers. 
                            <ul>
                                <li>9x Protein in Yogurt</li>
                                <li>15x Pottassium in Banana</li>
                                <li>10x Vitamin A in Carrots</li>
                                <li>17x Calcium in Milk</li>
                                <li>12x Vitamin C in Orange</li>
                                <li>3x Vitamin E in Almonds</li>
                                <li>17x Calcium in Milk</li>
                            </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <h4>Power Oil (Turmeric)</h4>
                        
                        <p>Among the many notable benefits of Green Apples is its content that's best for people on a diet. Vida Power Essentials revolutionized the use of Green Apple and align it with our primary products, thus, through inhalation of our Power Rub, your appetite can be controlled if not suppressed. </p>
                        <p>Our Power Rub also improves alertness which makes this product perfect, especially if you are driving. Put it in your car's front panel. You not only have a car freshener, you also decrease chances of being in an accident. </p>
                        <img src="~/images/Power_Oil.png" alt="" class="img-responsive pull-left" />
                        <h4>Directions of Use:</h4>
                        <ol>
                            <li>Can be taken Orally or Used externally.</li>
                            <li>If used orally, we recommend taking it 2x daily to about half a teaspoon dosage or as desired. Absolutely NO Overdose.</li>
                            <li>If used externally, apply needed amount on affected area for treatment.</li>
                        </ol>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <h4>Power Rub (Green Apple + Turmeric)</h4>
   
                        <p>Our Marunggay Power Drops is based on All Natural Freshly picked Malunggay. We added peppermint leaves for cooling effect, and natural honey for extra taste and healing properties.
                        </p>
                         <img src="~/images/Power_Rub.gif" alt="" class="img-responsive pull-left" />
                        <br/>
                        <h4>Directions of Use:</h4>
                        <ol>
                            <li>For EXTERNAL use only.</li>
                            <li>Apply ample amount to affected area.</li>
                             <li>Inhale vapor to treat nausea, control appetite, and improve alertness.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        </div>

        <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
<h4>Testimonials</h4>
                        <div class="testimonialslide clearfix flexslider">
                            <ul class="slides">
                                <li>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="~/images/Andrea.png" >
                                        </a>
                                        <div class="media-body">

                                            <blockquote>
                                                I right away felt its coolness in my throat in minu.tes, it was easier for me to breath again.
                                            </blockquote>
                                            <h4>Andrea <span>&#8213; Enterprneur </span></h4>
                                            
                                            <ul class="list-inline list-unstyled">
                                                <li>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star-empty"></span>
                                                </li>
                                                <li>|</li>
                                                <li>
                                                    <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                                    <span><i class="fa fa-facebook-square"></i></span>
                                                    <span><i class="fa fa-twitter-square"></i></span>
                                                    <span><i class="fa fa-google-plus-square"></i></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                        <div class="media">
                                            <a class="pull-left" href="#">
                                                <img class="media-object" src="~/images/christinejoy.png">
                                            </a>
                                            <div class="media-body">

                                                
                                                <h4>Christine Joy <span>&#8213; Facebook </span></h4>

                                                <ul class="list-inline list-unstyled">
                                                    <li>
                                                        <span class="glyphicon glyphicon-star"></span>
                                                        <span class="glyphicon glyphicon-star"></span>
                                                        <span class="glyphicon glyphicon-star"></span>
                                                        <span class="glyphicon glyphicon-star"></span>
                                                        <span class="glyphicon glyphicon-star-empty"></span>
                                                    </li>
                                                    <li>|</li>
                                                    <li>
                                                        <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                                        <span><i class="fa fa-facebook-square"></i></span>
                                                        <span><i class="fa fa-twitter-square"></i></span>
                                                        <span><i class="fa fa-google-plus-square"></i></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                </li>   
                                <li>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="~/images/B-AnneGem.png">
                                        </a>
                                        <div class="media-body">


                                            <h4>B-Anne Gem... <span>&#8213; Facebook </span></h4>

                                            <ul class="list-inline list-unstyled">
                                                <li>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star-empty"></span>
                                                </li>
                                                <li>|</li>
                                                <li>
                                                    <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                                    <span><i class="fa fa-facebook-square"></i></span>
                                                    <span><i class="fa fa-twitter-square"></i></span>
                                                    <span><i class="fa fa-google-plus-square"></i></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>   
                                <li>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="~/images/YyvonneAcla.png">
                                        </a>
                                        <div class="media-body">


                                            <h4>Yyvonne Acla.. <span>&#8213; Facebook </span></h4>

                                            <ul class="list-inline list-unstyled">
                                                <li>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star-empty"></span>
                                                </li>
                                                <li>|</li>
                                                <li>
                                                    <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                                    <span><i class="fa fa-facebook-square"></i></span>
                                                    <span><i class="fa fa-twitter-square"></i></span>
                                                    <span><i class="fa fa-google-plus-square"></i></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>   
                                <li>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="~/images/Bheng.png">
                                        </a>
                                        <div class="media-body">


                                            <h4>Bheng <span>&#8213; House Wife </span></h4>

                                            <ul class="list-inline list-unstyled">
                                                <li>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star-empty"></span>
                                                </li>
                                                <li>|</li>
                                                <li>
                                                    <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                                    <span><i class="fa fa-facebook-square"></i></span>
                                                    <span><i class="fa fa-twitter-square"></i></span>
                                                    <span><i class="fa fa-google-plus-square"></i></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>   
                            </ul>
                        </div>      
            </div>
        </div>
    </div>